
main article {
	padding: 0px 16px 16px 16px;
}

main article h3 {
	margin: 16px 0px 0px 0px;
	padding: 0px;
	font-family: 'cantarell';
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
}

main article p {
	margin: 16px 0px;
	padding: 0px;
	font-family: 'cantarell';
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
}

main article q {
	margin: 0px;
	padding: 0px 4px;
	background: var(--input-default-background);
	quotes: none;
	border: 0px solid transparent;
	border-radius: 4px;
}

main article hr {
	border: 1px solid var(--article-border);
}
